.mainBanner {
  margin: 20px 0;
}

.mainBannerClick > div > a > img {
  display: inline-block;
}

.mainBannerClick img {
  display: block;
}

.thumImgBox {
  filter: brightness(50%);
}

.thumImgBoxActive {
  filter: brightness(100%);
}

.thumImgBox a {
  display: block;
  height: 100%;
}

.thumImg {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.infoBox {
  text-align: center;
}

.active {
  -webkit-animation: none;
  animation: none;
}

.infoBox > h2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.infoBox > h3 {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.divider {
  display: none;
}

.rootDivider {
  height: 1px;
  margin: 0;
  border: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #ececec;
}

.infoBox .infoDirectBtn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}

.sizeMediumBtn {
  height: 40px;
  font-size: 15px;
}

.textPrimaryBtn {
  color: #36f;
}

.infoBox .btnText {
  padding: 6px 8px;
}

.rootBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  padding: 0 27px;
  vertical-align: middle;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.linkBtnLabel {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: inherit;
}

.linkBtn {
  margin-top: -2px;
  margin-right: -1px;
  margin-left: 2px;
}

.linkBtnIcon {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}

.linkBtnIcon .linkImg {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: inherit;
}

@media (min-width: 1200px) {
  .infoBox {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    text-align: left;
    left: 34px;
  }

  .active {
    animation: all 0.4s ease-in-out;
    opacity: 1;
  }

  .infoBox > h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  .infoBox > h3 {
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64px;
    color: #333;
  }

  .divider {
    display: block;
  }

  .infoBox .infoDirectBtn {
    margin: 6px 0 0 13px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .thumImgBox > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .thumImgBox > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .thumImgBox {
    height: 183px;
  }

  .thumImgBox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thumImgBox a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
