.section {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  z-index: 100;
}

.warpper {
  position: relative;
  max-width: 1060px;
  height: 50px;
}

.nav,
.navTop {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* navTop */
.navTopWarp {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.navTopBtn {
  display: flex;
  margin-top: -2px;
  margin-right: 15px;
  padding: 0;
}

.navTopIcon {
  width: 17px;
  height: 14px;
  object-fit: contain;
}

.logoLink {
  display: block;
}

.logoIcon {
  height: 17px;
}

/* menu list */
.menuList {
  height: inherit;
  text-align: center;
  margin: 0;
}

.menuList li {
  height: inherit;
  display: inline-block;
}

.menuList .homeVisible {
  box-shadow: inset 0 -2px #258bf7;
}

.menuList li.homeButton a {
  padding-left: 20px;
}

.menuList li a {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}

.menuList li a::after {
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.menuList li a > span {
  position: absolute;
  top: 10px;
  right: -5px;
  pointer-events: none;
  font-style: normal;
}

.menuList li a > span img {
  width: 18;
  height: 11;
}

/*** aside ***/
.aside.isLoggedIn {
  padding: 9px 0;
}

.aside {
  height: 100%;
  padding: 10px 0;
}

.aside > ul {
  height: 100%;
  margin: 0;
}

.aside > ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.aside > ul li > * {
  height: 100%;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}

.noticeItem,
.profileItem {
  position: relative;
}

.notice > span,
.profile > span {
  position: absolute;
  top: -2px;
  left: 22px;
  padding: 0 !important;
}

.notice > span {
  top: -4px;
  left: 24px;
}

/* aside newIcon */
.newIconBox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: #36f;
  border-radius: 5px;
}

/* aside search */
.aside > ul li .searchBtn {
  position: relative;
  margin-top: 5px;
}

/* aside notice */
.aside > ul li .noticeBtn {
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}

/* aside profile */

.aside > ul .profile {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}

.aside > ul li .profileBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: top;
  padding: 0;
  margin-right: 11px;
  height: 32px;
}

.aside > ul li .profileBtn .profileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  overflow: hidden;
}

.aside > ul li .profileBtn .profileBox > div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* aside service */
.aside > ul .leftDivision {
  display: inline-flex;
}

.aside > ul .leftDivision:before {
  box-sizing: border-box;
  display: block;
  margin: auto 10px;
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  content: "";
}

.aside > ul li .serviceLink {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
}

.aside > ul li a {
  display: inline-block;
  vertical-align: bottom;
  line-height: 32px;
}

/* seeMore menu */
.aside > ul li .seeMoreBtn {
  margin-right: 10px;
  padding-left: 10px;
}

.asideIcon {
  width: 18px;
  height: 18px;
}

@media (min-width: 1200px) {
  .warpper {
    margin: 0 auto;
    width: 87.72%;
    height: 50px;
  }

  .menuList .homeVisible {
    display: none;
  }

  .aside > ul li > * {
    padding: 0 10px;
  }

  .seeMore {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .warpper {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  .menuList .homeVisible {
    display: none;
  }

  .aside > ul li .profileBtn {
    margin-right: 0;
  }

  .noticeBtn {
    margin-right: 5px;
  }

  .aside > ul li .serviceLink {
    margin: 0;
  }

  .seeMore {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .menuList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .menuList li a {
    font-size: 13px;
    padding: 15px 0;
  }

  .menuList li a > span {
    right: -20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .warpper {
    width: 90%;
  }

  .warpper {
    margin: 0 auto;
    height: 50px;
  }

  .warpper,
  .warpper.warpIsLoggedId {
    height: 110px;
  }

  .navTop {
    padding: 15px 0;
    height: 60px;
    width: 100%;
  }

  .logoLink {
    position: relative;
    float: left;
  }

  .menuList {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 30px;
  }

  .menuList .homeVisible {
    display: none;
  }

  .menuList li a {
    padding: 11px 10px 19px;
    font-size: 13px;
  }

  .menuList li a > span {
    top: 5px;
    right: -7px;
  }

  .aside > ul li .searchBtn {
    margin: 0;
  }

  .aside > ul .profile {
    margin-right: 0;
  }

  .aside > ul .btnMoreVisible {
    display: none;
  }

  .aside > ul li .profileBtn {
    margin-right: 0;
  }

  .aside > ul li .noticeBtn {
    margin: 0;
  }

  .aside > ul li .serviceLink {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .warpper,
  .warpper.warpIsLoggedId {
    height: 110px;
  }

  .navTop {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }

  .menuList {
    text-align: left;
  }

  .menuList li a {
    padding: 11px 10px 19px;
  }

  .menuList .moreVisible {
    display: none;
  }

  .aside {
    padding: 14px 0;
  }

  .aside > ul {
    margin-top: -5px;
  }

  .aside > ul .btnMoreVisible {
    display: none;
  }

  .aside > ul li .searchBtn {
    margin: 0;
  }

  .aside > ul li .noticeBtn {
    margin: 0;
  }

  .aside > ul .profileBtn {
    margin-right: 0;
  }

  .aside > ul li .serviceLink {
    margin: 0;
  }
}
