.section {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  z-index: 100;
}

.warpper {
  position: relative;
  max-width: 1060px;
}

.nav,
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

/* navTop */
.navTopWarp {
  display: flex;
}

.navTopBtn {
  margin-top: -2px;
  margin-right: 15px;
}

.navTopIcon {
  height: 14px;
  object-fit: contain;
}

.logoLink {
  display: block;
}

.logoIcon {
  height: 17px;
}

/* menu list */
.menuList {
  height: inherit;
  text-align: center;
  margin: 0;
}

.menu {
  height: inherit;
  display: inline-block;
}

.menuA {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}

.homeVisible {
  box-shadow: inset 0 -2px #258bf7;
}

/*** aside ***/
.aside {
  height: 100%;
}

.aside > ul {
  height: 100%;
  margin: 0;
}

.aside > ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.aside > ul li > * {
  height: 100%;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}

.noticeItem,
.profileItem {
  position: relative;
}

.notice > span {
  top: -4px;
  left: 24px;
}

.notice > span,
.profile > span {
  position: absolute;
  top: -2px;
  left: 22px;
  padding: 0 !important;
}

/* aside newIcon */
.newIconBox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: #36f;
  border-radius: 5px;
}

/* aside search */
.searchBtn {
  position: relative;
  margin-top: 5px;
}

/* aside notice */
.aside > ul li .noticeBtn {
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}

/* aside profile */

.aside > ul .profile {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.aside > ul li .profileBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: top;
  padding: 0;
  margin-right: 11px;
  height: 32px;
}

.aside > ul li .profileBtn .profileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  overflow: hidden;
}

.aside > ul li .profileBtn .profileBox > div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* aside service */
.aside > ul .leftDivision {
  display: inline-flex;
}

.aside > ul .leftDivision:before {
  display: block;
  margin: auto 10px;
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  content: "";
}

.aside > ul li .serviceLink {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
}

.aside > ul li a {
  display: inline-block;
  vertical-align: bottom;
  line-height: 32px;
}

/* seeMore menu */
.aside > ul li .seeMoreBtn {
  margin-right: 10px;
  padding-left: 10px;
}

.asideIcon {
  width: 18px;
  height: 18px;
}

@media (min-width: 1200px) {
  .warpper {
    margin: 0 auto;
    width: 87.72%;
    height: 50px;
  }

  .homeVisible {
    display: none;
  }

  .aside > ul li > * {
    padding: 0 10px;
  }

  .seeMore {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .warpper {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  .homeVisible {
    display: none;
  }

  .noticeBtn {
    margin-right: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .menuList {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1;
  }

  .menuA {
    font-size: 13px;
    padding: 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .warpper {
    margin: 0 auto;
    height: 110px;
    width: 90%;
  }

  .navTop {
    padding: 15px 0;
    height: 60px;
    width: 100%;
  }

  .logoLink {
    position: relative;
    float: left;
  }

  .homeVisible {
    display: none;
  }

  .searchBtn {
    margin: 0;
  }

  .noticeBtn {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navTop {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }

  .moreVisible {
    display: none;
  }

  .menuA {
    padding: 11px 10px 19px;
  }

  .aside > ul {
    margin-top: -5px;
  }

  .searchBtn {
    margin: 0;
  }

  .noticeBtn {
    margin: 0;
  }
}
