section {
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
